<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <header class="header">
        <img class="header__image" src="https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg" alt="profile image" ">
                    <form class=" header__search search " action=" ">
                        <input class=" search__bar " type=" search "  placeholder="&#x1F50D; Search "/>
                    </form>
            
                    <form action=" " class="header__messages messages ">
                        <button class="messages__buton ">
                                <i class="material-icons ">
                                        mail_outline
                                        </i>
                        </button>
                    </form>
                </header>
    
</body>
</html>