<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <section class="register">
        <h1 class="register__title">Register</h1>
        <form class="register__form " action="">
            <input class="register__form__input" name="mail" type="text" placeholder="mail@mail.com"></input>
            <input class="register__form__input" name="password" type="password" placeholder="*****"></input>
            <input class="register__form__input" name="name" type="text" placeholder="name"></input>
            <input class="register__form__input" name="surname" type="text" placeholder="surname"></input>
            <button class="register__form__button">Register</button>
            <button class="register__form__button">Login</button>
        </form>
    </section>

</body>

</html>