<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <section class="account-details">
        <section class="account-details__header header">
            <div class="account-details__principal principal">
                <img class="principal__image principal-item" src="https://media.licdn.com/dms/image/C4D03AQG-djQa-ZwbJw/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=Ss_1jT6NUJUD_NrXubCCyvBHx3124-kSTlX4lXdqEy8" alt="profile image" />
                <p class="principal__name principal-item">Gregorio Mendez</p>
                <p class="principal__introduction principal-item">Systems Structural Engineer - FEA Enthusiast</p>
                <p class="principal__address principal-item">Barcelona, Espana</p>
                <p class="principal__description principal-item">
                    Welcome to my LinkedIn profile! I am a highly motivated Aerospace Engineer (MEng) with experience in the Aerospace and Automotive industries, focusing on delivering satisfaction and tangible added value to all stakeholders of the projects I am involved
                    in, while at the same time gaining quality experience to keep growing professionally.
                </p>


            </div>

            <nav class="account-details__header__nav  buttons">
                <button class="buttons__home button">
                        <p class="button__text">Connect</p>
                    </button>
                <button class="buttons__contacs button">
                        <p class="button__text">Info</p>
                    </button>
                <button class="buttons__post button">
                        <p class="button__text">message</p>
                    </button>
                <button class="buttons__notifications button">
                        <p class="button__text">Posts</p>
                    </button>
                <button class="buttons__jobs button">
                        <p class="button__text">Friends</p>
                    </button>
            </nav>
        </section>


        <section class="account-details skills">
            <h2 class="skills__title">Personal skills</h2>
            <ul class="skills__list">

                <li class="skill-item">
                    <p>Dramatic</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                    </form>
                </li>

                <li class="skill-item">
                    <p>Thriller</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                    </form>
                </li>

                <li class="skill-item">
                    <p>Film productor</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                    </form>
                </li>
                <li class="skill-item">
                    <p>Dramatic</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                    </form>
                </li>

                <li class="skill-item">
                    <p>Thriller</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                    </form>
                </li>

                <li class="skill-item">
                    <p> Film productor</p>
                    <form action="" class="skill__less less">
                        <button class="less__button">
                                    <i class="material-icons">remove_circle_outline</i>
                            </button>
                    </form>
                </li>
            </ul>
            <form action="" class="skill__more more">
                <input class="more__input" type="text" placeholder="new skill">
                <button class="more__button">
                        <i class="material-icons">add_circle_outline</i>
                </button>
            </form>
        </section>


        <section class="account-details experience">
            <h2 class="experience__title">Experience</h2>

            <section class="experience-item">
                <div class="experience-item__title title">
                    <p class="title__text">Project Manager</p>
                    <p class="title__date">20/3/2019 - 15/10/2019</p>
                </div>
                <main class="experience-item__body">
                    Comienzo del grado en ingeniería de Obras Públicas en Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos (ETSICCP)
                </main>
                <form action="" class="skill__less less">
                    <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                </form>
            </section>

            <section class="experience-item">
                <div class="experience-item__title title">
                    <p class="title__text">Full-stack, web developer and backend developer</p>
                    <p class="title__date">1/6/2018 - 3/11/2018</p>
                </div>
                <main class="experience-item__body">
                    Comienzo del grado en ingeniería de Obras Públicas en Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos (ETSICCP)
                </main>
                <form action="" class="skill__less less">
                    <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                </form>
            </section>


            <form action="" class="experience__more more">
                <label class="more__label">
                <input type="text" name="title" placeholder="title here ..." required />
            </label>
                <label class="more__label">
                    <input type="date" name="date-start" required />
                </label>
                <label class="more__label">
                        <input type="date" name="date-end" required />
                    </label>
                <label class="more__label">
                            <textarea  name="description" id=" " cols="30 " rows="3" placeholder="describe me here ... "></textarea>
                        </label>

                <button class="more__button">
                    <i class="material-icons">add_circle_outline</i>
            </button>
            </form>

        </section>



        <section class="account-details experience">
            <h2 class="experience__title">Education</h2>

            <section class="experience-item">
                <div class="experience-item__title title">
                    <p class="title__text">Project Manager</p>
                    <p class="title__date">20/3/2019 - 15/10/2019</p>
                </div>
                <main class="experience-item__body">
                    Comienzo del grado en ingeniería de Obras Públicas en Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos (ETSICCP)
                </main>
                <form action="" class="skill__less less">
                    <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                </form>
            </section>

            <section class="experience-item">
                <div class="experience-item__title title">
                    <p class="title__text">Full-stack, web developer and backend developer</p>
                    <p class="title__date">1/6/2018 - 3/11/2018</p>
                </div>
                <main class="experience-item__body">
                    Comienzo del grado en ingeniería de Obras Públicas en Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos (ETSICCP)
                </main>
                <form action="" class="skill__less less">
                    <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
                </form>
            </section>


            <form action="" class="experience__more more">
                <label class="more__label">
                    <input type="text" name="title" placeholder="title here ..." required />
                </label>
                <label class="more__label">
                        <input type="date" name="date-start" required />
                    </label>
                <label class="more__label">
                            <input type="date" name="date-end" required />
                        </label>
                <label class="more__label">
                                <textarea  name="description" id=" " cols="30 " rows="3" placeholder="describe me here ... "></textarea>
                            </label>

                <button class="more__button">
                        <i class="material-icons">add_circle_outline</i>
                </button>
            </form>


        </section>

    </section>


</body>

</html>