* {
    margin: 0;
    box-sizing: border-box;
}

.comment {
    display: flex;
    padding: .6rem .6rem 0rem .6rem;
    justify-content: space-around;
}

.comment__image {
    width: 12vw;
    height: 12vw;
    border-radius: 1rem;
}

.comment__text {
    background-color: #a7a5a434;
    /*     margin-top: .3rem;
 */
    width: 80vw;
    padding: .5rem;
    border-radius: 3vw;
}

.text__user-name {
    font-size: .9rem;
    font-weight: bold;
}

.text__user-info {
    font-size: .8rem;
    color: rgb(82, 77, 77);
}

.text__date {
    font-size: .8rem;
    color: rgb(82, 77, 77);
}

.text__comment {
    margin-top: .3rem
}