<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <section class="comment">
        <img class="comment__image" src="https://media.licdn.com/dms/image/C5603AQHvQ7_p1YV5Pg/profile-displayphoto-shrink_800_800/0?e=1580342400&v=beta&t=AKcObxc3XpHyXO8lFaVGLrziWLQT0L43sexo1emTO8Q" alt="profile image" />
        <div class="comment__text text">
            <p class="text__user-name">Daniel Smith</p>
            <p class="text__user-info">Profesor de inglés | Autor ...</p>
            <p class="text__date">30/10/2019</p>
            <p class="text__comment">En este caso, estaría mal dicho: She MUST pay $30 to renew her driving license. ¿? Supongo que se entendería pero sería del todo correcto. Sigo todas tus publicaciones, me encantan!</p>
        </div>
    </section>



    <section class="comment comment--mine">
        <img class="comment__image" src="https://media.licdn.com/dms/image/C4E03AQHDYmFMm3lIoQ/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=Eway57teuUv7ff1isfm-jELgO4KR4xqr93sc7qmgwEc" alt="profile image" />
        <div class="comment__text text">
            <p class="text__user-name">Anna Garriga Martin</p>
            <p class="text__user-info">Recruiter IT and ...</p>
            <p class="text__date">30/10/2019</p>
            <p class="text__comment">Me gusta ofrecer nuevas oportunidades de crecimiento profesional a todos aquellos candidatos que llegan a una primera entrevista conmigo. </p>
        </div>
    </section>

</body>

</html>