button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.post {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: .6rem .6rem 0rem .6rem;
    background-color: #fffdf9;
    /* 
    border-top: solid thin red;
    border-bottom: solid thin red; */
}

.post__header {
    display: flex;
    justify-content: space-around;
}

.post__header .header-info {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.post__header .header-info .header-item {
    margin: .1rem;
}

.header__user-username {
    font-weight: bold;
    font-size: 1.1rem;
}

.post__header .post-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: solid 2px white;
}

.post__nav {
    display: flex;
    justify-content: space-around;
    margin-top: .3rem
}

.post__main {
    padding: .5rem
}

.post__interactions {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-top: 2px solid #ffad87;
    border-bottom: 2px solid #ffad87;
}

.header__date {
    font-size: .7rem;
}