<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section class="post">
        <div class="post__header">
            <img class="post-image" src="https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg" alt="profile image " />
            <div class="header-info">
                <p class="header-item header__user-username">Julian Assange</p>
                <p class="header-item header__user-introduction">Dramatic actor</p>
                <p class="header-item header__date">24/10/2019 22:30</p>
            </div>
        </div>

        <p class="post__main">In the improv troupe I work with, we take turns as the facilitator or director of each performance. Each performer has their own flair or
        </p>

        <div class="post__interactions">
            <p class="post-interactions__likes">3 likes</p>
            <p class="post-interactions__comments">5 comments</p>
        </div>

        <form action=" " class="post__nav ">
            <button class="post-button "><i class="material-icons">thumb_up_alt</i></button>
            <button class="post-button "><i class="material-icons ">comment</i></button>
            <button class="post-button "><i class="material-icons ">share</i></button>
        </form>
    </section>
</body>

</html>