<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <section class="personal-info">
        <div class="personal-info-post__header post__header ">
            <img class=" post-image " src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile
                image " />
            <div class=" header-info ">
                <p class=" header-item header__user-username ">Julian Assange</p>
                <p class=" header-item header__user-introduction ">Dramatic actor</p>
                <p class=" header-item header__date ">24/10/2019 22:30</p>
            </div>
        </div>

        <nav class=" personal-info__nav account-details__header__nav  buttons">
            <button class="buttons__home button">
                        <p class="button__text">Connect</p>
                    </button>
            <button class="buttons__contacs button">
                        <p class="button__text">Info</p>
                    </button>
            <button class="buttons__post button">
                        <p class="button__text">message</p>
                    </button>
            <button class="buttons__notifications button">
                        <p class="button__text">Posts</p>
                    </button>
            <button class="buttons__jobs button">
                        <p class="button__text">Friends</p>
                    </button>
        </nav>

        <form class="personal-info__form info-form" action="">

            <label class="info-form__label">
                <span>Name: </span>
                <input type="text" name="name" />
            </label>

            <label class="info-form__label">
                <span>Surname: </span>
                <input type="text" name="surname"  />
            </label>

            <label class="info-form__label">
                <span>Introduction: </span>
                <textarea name="introduction" id="" cols="30" rows="2"></textarea>            </label>
            <label class="info-form__label">
                <span>Description: </span>
                <textarea name="description" id="" cols="30" rows="4"></textarea>
                
            </label>

            <label class="info-form__label">
                <span>Age: </span>
                <input type="text" name="age"  />
            </label>



            <label class="info-form__label">
                    <span>Mr: </span>
                    <input type="radio" name="genre" value="man" />
                    <span>Mrs: </span>
                    <input type="radio" name="genre" value="woman" />
                </label>

            <label class="info-form__label">
                <span>Languages: </span>
                <input type="text" name="languages"  />
            </label>

            <label class="info-form__label">
                <span>Phone: </span>
                <input type="text" name="phone"  />
            </label>
            <label class="info-form__label">
                <span>Email: </span>
                <input type="text" name="email"  />
            </label>
            <label class="info-form__label">
                    <span>website: </span>
                    <input type="text" name="website"  />
                </label>
            <label class="info-form__label">
                <span>City: </span>
                <input type="text" name="city"  />
            </label>



            <div class="info-form__buttons buttons">
                <button class="buttons__jobs button">
                    <p class="button__text">Modify</p>
                </button>

                <button class="buttons__jobs button">
                    <p class="button__text">Save</p>
               </button>
            </div>
        </form>


    </section>


</body>

</html>