<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>

    <section class="filters">
        <form class="filters__form filters-form" action="">
            <label class="filters-form__label">
                <span>Min age: </span>
                <input class="small-input" type="number" name="min-age" />
                <span>Min age: </span>
                <input class="small-input" type="number" name="min-age" />
            </label>

            <label class="filters-form__label">
                <span>City: </span>
                <input type="text" name="city" />
            </label>

            <label class="filters-form__label">
                <span>Skills: </span>
                <input type="text" name="skills" />
            </label>

            <label class="filters-form__label">
                    <span>Languages: </span>
                    <input type="text" name="languages" />
                </label>
            <label class="filters-form__label">
                <span>Mr: </span>
                <input type="radio" name="genre" value="man" />
                <span>Mrs: </span>
                <input type="radio" name="genre" value="woman" />
            </label>

            <label class="filters-form__label">>
                    <span>Height ±5cm: </span>
                    <input class="small-input" type="number" name="height" />
                    <span>Weight ±5kg:</span>
                    <input class="small-input" type="number" name="weight" />
                </label>
            <button>Search</button>
        </form>
    </section>


</body>

</html>