<section class="experience-item">
    <div class="experience-item__title title">
        <p class="title__text">Full-stack, web developer and backend developer</p>
        <p class="title__date">1/6/2018 - 3/11/2018</p>
    </div>
    <main class="experience-item__body">
        Comienzo del grado en ingeniería de Obras Públicas en Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos (ETSICCP)
    </main>
    <form action="" class="skill__less less">
        <button class="less__button">
                                        <i class="material-icons">remove_circle_outline</i>
                                </button>
    </form>
</section>