<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <section class=" post ">
        <div class=" post__header ">
            <img class=" post-image " src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&amp;v=beta&amp;t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile image ">
            <div class=" header-info ">
                <p class=" header-item header__user-username ">Julian Assange</p>
                <p class=" header-item header__user-introduction ">Dramatic actor</p>
            </div>
        </div>

        <textarea class="post-textarea " name=" " id=" " cols="30 " rows="10 " placeholder="write here ..."></textarea>

        <form action=" " class=" post__nav ">
            <button class=" post-button "><i class=" material-icons ">add_circle_outline</i> Post</button>

        </form>
    </section>

</body>

</html>