<section class=" post-detail ">

    <section class=" post ">
        <div class=" post__header ">
            <img class=" post-image " src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile
            image " />
            <div class=" header-info ">
                <p class=" header-item header__user-username ">Julian Assange</p>
                <p class=" header-item header__user-introduction ">Dramatic actor</p>
                <p class=" header-item header__date ">24/10/2019 22:30</p>
            </div>
        </div>

        <p class=" post__main ">In the improv troupe I work with, we take turns as the facilitator or director of each performance. Each performer has their own flair or
        </p>

        <div class=" post__interactions ">
            <p class=" post-interactions__likes ">3 likes</p>
            <p class=" post-interactions__comments ">5 comments</p>
        </div>

        <form action=" " class=" post__nav ">
            <button class=" post-button "><i class=" material-icons ">thumb_up_alt</i></button>
            <button class=" post-button "><i class=" material-icons ">comment</i></button>
            <button class=" post-button "><i class=" material-icons ">share</i></button>
        </form>
    </section>


    <section class=" comment ">
        <img class=" comment__image " src=" https://media.licdn.com/dms/image/C5603AQHvQ7_p1YV5Pg/profile-displayphoto-shrink_800_800/0?e=1580342400&v=beta&t=AKcObxc3XpHyXO8lFaVGLrziWLQT0L43sexo1emTO8Q " alt=" profile image " />
        <div class=" comment__text text ">
            <p class=" text__user-name ">Daniel Smith</p>
            <p class=" text__user-info ">Profesor de inglés | Autor ...</p>
            <p class=" text__date ">30/10/2019</p>
            <p class=" text__comment ">En este caso, estaría mal dicho: She MUST pay $30 to renew her driving license. ¿? Supongo que se entendería pero sería del todo correcto. Sigo todas tus publicaciones, me encantan!</p>
        </div>
    </section>

    <section class="comment ">
        <img class="comment__image " src="https://media.licdn.com/dms/image/C4E03AQHDYmFMm3lIoQ/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=Eway57teuUv7ff1isfm-jELgO4KR4xqr93sc7qmgwEc " alt="profile image " />
        <div class="comment__text text ">
            <p class="text__user-name ">Anna Garriga Martin</p>
            <p class="text__user-info ">Recruiter IT and ...</p>
            <p class="text__date ">30/10/2019</p>
            <p class="text__comment ">Me gusta ofrecer nuevas oportunidades de crecimiento profesional a todos aquellos candidatos que llegan a una primera entrevista conmigo. </p>
        </div>
    </section>

    <section class="comment comment--mine ">
        <img class="comment__image " src="https://media.licdn.com/dms/image/C4E03AQHDYmFMm3lIoQ/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=Eway57teuUv7ff1isfm-jELgO4KR4xqr93sc7qmgwEc " alt="profile image " />
        <div class="comment__text text ">
            <p class="text__user-name ">Anna Garriga Martin</p>
            <p class="text__user-info ">Recruiter IT and ...</p>
            <p class="text__date ">30/10/2019</p>
            <p class="text__comment ">Me gusta ofrecer nuevas oportunidades de crecimiento profesional a todos aquellos candidatos que llegan a una primera entrevista conmigo. </p>
        </div>
    </section>


    <section class="new-comment ">
        <img class="new-comment__image " src="https://media.licdn.com/dms/image/C4E03AQHDYmFMm3lIoQ/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=Eway57teuUv7ff1isfm-jELgO4KR4xqr93sc7qmgwEc " alt="profile
            image " />
        <form action=" " class="new-comment__form form ">
            <textarea class="form__textarea " name=" " id=" " cols="30 " rows="2 " placeholder="send a comment here ... "></textarea>
            <button class="form__button "><i class="material-icons ">send</i></button>
        </form>
    </section>

    <footer class="footer">

        <form action="" class="footer__list buttons">
            <button class="buttons__home button">
                        <i class="button__icon material-icons">home</i>
                        <p class="button__text">Home</p>
                    </button>

            <button class="buttons__contacs button">
                        <i class="material-icons">contacts</i>
                        <p class="button__text">Contacs</p>
                    </button>

            <button class="buttons__post button">
                        <i class="material-icons">add_circle_outline</i>
                        <p class="button__text">Post</p>
                    </button>

            <button class="buttons__notifications button">
                        <i class="material-icons">notifications_active</i>
                        <p class="button__text">News</p>
                    </button>

            <button class="buttons__jobs button">
                        <i class="material-icons">theaters</i>
                        <p class="button__text">Jobs</p>
                    </button>
        </form>
    </footer>
</section>