<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <section class="login">
        <h1 class="login__title">Login</h1>
        <form class="login__form " action="">
            <input class="login__form__input" type="text" placeholder="mail@mail.com"></input>
            <input class="login__form__input" type="password" placeholder="*****"></input>
            <button class="login__form__button">Next</button>
            <button class="login__form__button">Register</button>

        </form>
    </section>

</body>

</html>