<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <section class="connections">
        <h1 class="connections__title">Connections</h1>
        <div class="connections__container">

            <div class="acc-resume">

                <img class=" acc-resume__image" src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&amp;v=beta&amp;t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile image ">
                <div class=" acc-resume__info info">
                    <p class=" info-username ">Julian Assange</p>
                    <p class=" info-description ">Dramatic actor</p>
                </div>

                <form class="acc-resume__form " action="">
                    <button class="button">
                        <i class="material-icons">add_circle_outline</i>
                    </button>
                    <button class="button">
                            <i class="material-icons">comment</i>
                    </button>
                </form>

            </div>

            <div class="acc-resume">

                <img class=" acc-resume__image" src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&amp;v=beta&amp;t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile image ">
                <div class=" acc-resume__info info">
                    <p class=" info-username ">Julian Assange</p>
                    <p class=" info-description ">Dramatic actor</p>
                </div>

                <form class="acc-resume__form " action="">
                    <button class="button">
                            <i class="material-icons">add_circle_outline</i>
                        </button>
                    <button class="button">
                                <i class="material-icons">comment</i>
                        </button>
                </form>

            </div>

            <div class="acc-resume">

                <img class=" acc-resume__image" src=" https://media.licdn.com/dms/image/C4D03AQGJs_fj9WmNsQ/profile-displayphoto-shrink_200_200/0?e=1579737600&amp;v=beta&amp;t=aXY597WUWHurjEtV8y9ORSngTUm7RYWjjGdoHvpUXCg " alt=" profile image ">
                <div class=" acc-resume__info info">
                    <p class=" info-username ">Julian Assange</p>
                    <p class=" info-description ">Dramatic actor</p>
                </div>

                <form class="acc-resume__form " action="">
                    <button class="button">
                                <i class="material-icons">add_circle_outline</i>
                            </button>
                    <button class="button">
                                    <i class="material-icons">comment</i>
                            </button>
                </form>

            </div>

        </div>

    </section>


</body>

</html>